.titel {
    text-align: center;
    color: orange;
    font-family: fantasy;
    letter-spacing: 0.5px;
}

h1 {
    color: orange;
}

.vraag {
    color: red;
}

li,
p {
    color: black;
}

a:hover {
    color: rgba(255, 225, 0, 0.666);
}

#navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

#navbar a {
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav-link {
    color: #f2f2f2;
    float: left;
}

#nav-link:hover {
    color: rgba(255, 225, 0, 0.666);
}

#navbar a.actief {
    color: tomato;
}

#navbar a.semi-actief {
    color: orange;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-secret {
    color: #333;
    float: right;
}

.top-secret:hover {
    color: #333;
}

.top-secret-actief {
    color: rgba(255, 225, 0, 0.666);
    float: right;
}

th {
    color: deeppink;
    font-size: 28px;
}

td {
    color: darkorange;
    font-size: 20px;
}

table {
    background-color: gray;
    border-color: black;
}

.course-complete {
    color: greenyellow;
}

.course-no-grades {
    color: hotpink;
}

.course-partialy-complete {
    color: gold;
}

.exam-failed {
    color: red;
}

.course-with-failed-exam {
    color: blueviolet;
}

#blog {
    border: 2px solid blueviolet;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.games img {
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    border-radius: 10px;
}

.genres-head{
    text-align: center;
    font-size: 28px;;
}

.genres {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.genres-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.genres-img img {
    width: 100%;
    max-width: 725px;
}

.motivatie {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.motivatie-head {
    text-align: center;
    font-size: 28px;
    margin-right: 100px;
}

.achtergrond {
    background-color: blue;
}

.lijn {
    border-bottom: 1px solid orange;
    margin: 2px 0;
    
}

.groot{
    height: 5px;
    background-color: orange;
}

.lijn-blog {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    height: 5px;
    background-color: orange;
}

.het-blog h2 {
    font-size: 28px;
    color: orange;
}

.blog-link {
    color: orange;
}


.blog-post {
    display: block;
    position: relative;
    background-color: white;
    padding: 0 2px;
    font-size: 24px;
}

.blog-post p {
    margin-left: 40px;
    margin-right: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog-post img {
    max-width: 300px;
    float: right;
}

.blog-post a {
    padding-right: 15px;
}