.titel {
    text-align: center;
    color: greenyellow;
}

h1 {
    color: aqua;
}

li,
p {
    color: white;
}

a:hover {
    color: rgba(255, 225, 0, 0.666);
}

.active {
    color: tomato;
}

#navbar {
    overflow: hidden;
    background-color: #333;
    font-size: 25px;
}

#navbar a {
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

#nav-link {
    color: #f2f2f2;
    float: left;
}

#nav-link:hover {
    color: rgba(255, 225, 0, 0.666);
}

#navbar a.actief {
    color: tomato;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.top-secret {
    color: #333;
    float: right;
}

.top-secret:hover {
    color: #333;
}

.top-secret-actief {
    color: rgba(255, 225, 0, 0.666);
    float: right;
}

th {
    color: deeppink
}

td {
    color: darkorange
}

table {
    background-color: gray;
}

.course-complete {
    color: greenyellow
}

.course-no-grades {
    color: hotpink
}

.course-partialy-complete {
    color: gold
}

.exam-failed {
    color: red
}

.course-with-failed-exam {
    color: blueviolet
}

#blog {
    border: 2px solid blueviolet;
}

.games {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.games img {
    width: 100%;
    min-width: 200px ;
    max-width: 350px;
    border-radius: 10px;
}

.motivatie {
    width: 100%;
    max-width: 800px;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.motivatie-head {
    text-align: center
}

.faq p {
    color:black
}